---
import {site} from "../site-nav.js";
import SideMenu from '../components/SideMenu';
const {where} = Astro.props;
const here = where.replace("/", "");
---
<div class="left-nav"><h2>{where}</h2><SideMenu items={site[here]} where={here} client:load></SideMenu></div>